body
{
    background-image:url(image1.jpg);
    background-attachment: fixed;
    margin:0;
}
/*menu standart*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*pour langue et la première ligne permet de surligner en noir*/
li a:hover {
    background-color: #111;
}

/*formulaire*/
#conteneur01
{
    border: 3px solid;
    border-color: #FFFFFF;
    border-radius: 15px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    width: 75%;
    background: #FFFFFF;
    text-align: center;
}

#conteneur01 div
{
  padding: 5px 0;
}
h1
{
    text-align: center;
    margin-top: 100px;
    color: #FFFFFF;
    text-decoration: underline;
}
label
{
  text-align:left;
  display: inline-block;
    width: 100px;
}
